language: objective-c
osx_image: xcode8.2
cache:
- bundler
before_install:
- brew update
- brew tap thoughtbot/formulae
- export
install:
- brew install rcm
script:
- pwd
- ls -al ..
- cp -rp ../travis $HOME/dotfiles
- ls -al $HOME
- env RCRC=$HOME/dotfiles/rcrc rcup
- ls -al $HOME
